@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/bodyback.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #BECFE4;
    padding: 20px;
    font-size: 35px;
    height: 150px;
    overflow: clip;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.logo{
    display: inline-flex;
}
.logoImg{
   height: 100px;
    width: 100px;
    border-radius: 50%;
}
.title{
    padding-left: 20px;
    margin-bottom: 25px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'Merriweather', serif;
}
.subTitle{
    margin-top: 50px;
    font-size:25px;
    font-family: 'Merriweather', sans-serif;
}
input{
    border-radius: 7px;
}
h1{
    text-align: center;
}
nav{
    text-align:center;
    background-color: #BECFE4;
    padding: 10px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
ul.topMenu li{
    list-style: none;
    display: inline;
    font-size: 20px;
}

ul.topMenu li a{
    text-decoration: none;
    color:#164077 ;
    background-color: #BECFE4;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul.topMenu li a.btnAddAdmin{
    color:#164077 ;
    background-color: #BECFE4;
}
ul.topMenu li a.btnAddAdmin:hover{
    background-color: #FFF5F3;
    color: green;
}
ul.topMenu li a.btnOut{
    color:#164077 ;
    background-color: #BECFE4;
}
ul.topMenu li a.btnOut:hover{
    background-color: #FFF5F3;
    color: red;
}
ul.topMenu li a:hover{
    background-color: #FFF5F3;
    color: black;
}