@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/images/bodyback.jpeg');
}
header {
    background-color: #BECFE4;
    padding: 30px;
    font-size: 35px;
    height: 150px;
    overflow: clip;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.logo{
    display: inline-flex;
}
nav{
    text-align:center;
    background-color: #BECFE4;
    padding: 10px 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


ul.topMenu li{
    list-style: none;
    display: inline;
    font-size: 20px;
}

ul.topMenu li a{
    text-decoration: none;
    color:#164077 ;
    background-color: #BECFE4;
    padding: 25px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
ul.topMenu li a:hover{
    background-color: #FFF5F3;
    color: black;
}
ul.topMenu li a.btnOut{
    color:#164077 ;
    background-color: #BECFE4;
}
ul.topMenu li a.btnOut:hover{
    background-color: #FFF5F3;
    color: red;
}
.register{
    text-align: center;
    margin-bottom: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #FFF5F3;
    border-radius: 15px;
}


.register input{
    padding: 7px;
    margin-top: 10px;
    border-radius: 5px;
}